<gptTips>

<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>

<style>
 .tipsDody{
   font-size: 0.85rem;
   line-height: 1.15rem;
}
 ol > li {
          margin-left: 1.25rem;
          padding: 0.2rem;
}

</style>

</head>
<body>
    <div class='tipsDody'>
        <hr op-60 style="margin-top: 0.6rem;margin-bottom: 0.6rem" />
        <p op-95>常用对话模式1：4A 模型指令 (网上最通用的的模型)</p>
        <ol start='' >
        <li op-75>Actor（角色）：给AI赋予一个角色</li>
        <li op-75>AIM （目标）：确立目标任务</li>
        <li op-75>ASK （提要求）：提出具体的请求</li>
        <li op-75>Addition（补充）：补充附件信息</li>
        </ol>
        <blockquote><p op-75>例子：假设你现在是一名专业的健身教练，我要减肥，请为我定制一个详细的周锻炼计划和饮食规划，我的身高是170cm，体重是60kg</p>
        </blockquote>
        <hr op-60 style="margin-top: 0.6rem;margin-bottom: 0.6rem"  />
        <p op-95>常用对话模式2： 4W模型 <strong>推荐模型</strong></p>
        <ol start='' >
        <li op-75>What（我的情况是）</li>
        <li op-75>Will （我想干嘛）</li>
        <li op-75>Who （你是谁）</li>
        <li op-75>Want （我要你干嘛）</li>
        </ol>
        <blockquote>
        <p op-75>例子：我的情况是我的身高170cm,体重60kg，我想减肥，你是我的专业的健身教练，我要你为我制定一个详细的周锻炼计划和饮食规划。</p>
        </blockquote>
    </div>
</body>
</html>
</gptTips>
